html{
    font-size: 18px;
}

body{
    --culoare1: #FCB9AC;
    --culoare2: #DE97DA;
    --culoare3: #E8ACFC;
    --culoare4: #DE9897;
    --spatiere-pagina: 50px;
    --padding-section: 15px;
    --culoare5:#C886FF;
    --culoare6:#9377FA;
}

body{
    background-color: var(--culoare1);
    padding-left: var(--spatiere-pagina);
    padding-right: var(--spatiere-pagina);
    min-width: 450px;
    margin: 0;
}

h1{
    font-size: 2.5rem;
}

h2{
    font-size: 2rem;
}

#grid-pagina > *{
    border: 3px solid var(--culoare6); 
    padding:var(--padding-section)
}

#grid-pagina{
    display:grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-areas: "z-welcome z-welcome z-welcome z-welcome"
                        "z-prezentare z-prezentare z-prezentare z-prezentare"
                        "z-lista-utilizatori z-date-utilizatori-statistica z-date-utilizatori-statistica z-date-site-server"
                        "z-calendar z-calendar z-tabel z-tabel"
                        "z-anunturi z-anunturi z-tabel z-tabel"
                        "z-diverse z-diverse z-diverse z-diverse"
                        "z-footer z-footer z-footer z-footer"
                        ;
    gap: 20px 10px; /* spatiere intre griduri */

}
#welcome{
    grid-area: z-welcome;
}

#prezentare{
    grid-area: z-prezentare;
}

#promotii{
    grid-area: z-tabel;
}

#calendar{
    grid-area: z-calendar;
}

#anunturi{
    grid-area: z-anunturi;
}

#list-utilizatori{
    grid-area: z-utilizatori;
}

#intrebari{
    grid-area: z-date-utilizatori-statistica;
}

#date-site-server{
    grid-area: z-date-site-server;
}

#diverse{
    grid-area: z-diverse ;
}

#footer{
    grid-area: z-footer;
}

img{
    width:100%;
    max-width:800px;
}

#outer1 {
    position: fixed;
    border: 5px solid purple;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    width: 75px;
    height: 75px;
    right: 25px;
    bottom: 25px;
    box-shadow: inset 0px 0 10px 5px rgba(0, 0, 0, 0.5);
    

}

#inner1 {
    font-size: 80px;    
    margin:auto;
    margin-left:12px;
    margin-top: -15px;
}

#outer1:hover #inner1 {
    transform: scale(1.2);
    color: var(--culoare6);
    transition: all 0.5s linear;
}

#outer1:hover {
    background-color: var(--culoare3);
    transition: all 0.5s linear;
}

#back-to-top1 {
    color: purple;
    text-decoration: none;
}

#welcome{
    font-family: 'Courier New', Courier, monospace;
}